@import "../../../../home_view/styles/components/variables.scss";

@mixin breakpoint {
	@media (max-width: 800px) {
		@content;
	}
}

.main__navbar {
	overflow-y: hidden;
	border-bottom: 1px solid lightgray;
	.my__navbar {
		@include flex__container;
		padding: 0.5rem 7rem;

		@include breakpoint {
			padding: 0.5rem 2rem;
		}

		.nav__header {
			.b__logo {
				position: relative;
				width: 50px;
				height: 40px;
				z-index: 200;
			}
		}

		.nav__links {
			@include flex__container;
			gap: 2rem;
			font-size: 1.1rem;
			// position: relative;

			.logged__user {
				width: 40px;
				height: 40px;
				border-radius: 50%;
				object-fit: cover;
			}

			.nav__link {
				color: $text_color_dark;
				@include breakpoint {
					display: none;
				}
			}

			.close {
				position: absolute;
				visibility: hidden;
				right: 1rem;
			}

			.hoverbox {
				position: absolute;
				top: 4rem;
				right: 3rem;
				visibility: visible;
				z-index: 10001;

				@include breakpoint {
					right: 5.5rem;
				}
			}

			.signin {
				padding: 12px 20px;
				font-size: 1rem;
				color: hsl(204, 100%, 45%);
				font-family: "Open Sans", sans-serif;
				border: 1px solid hsl(204, 100%, 45%);
				border-radius: 2rem;
				background-color: #ffff;
				position: relative;
				@include transition_ease;
			}

			.burger {
				display: none;
				font-size: 1.8rem;
				z-index: 1001;

				@include breakpoint {
					display: block;
				}
			}

			.new__post {
				padding: 10px;
				background-color: #457b9d;
				border-radius: 5px;
				border: none;
				color: white;
				display: block;
				z-index: 10001;
				margin-right: 0;
				position: relative;

				&:hover {
					background-color: hsl(203, 39%, 49%);
				}

				@include breakpoint {
					padding: 8px 10px;
				}
			}
		}

		.account__icon {
			border-radius: 50%;
			height: 40px;
			width: 40px;
			position: relative;
			z-index: 101;
			object-fit: cover;
		}
	}

	.responsive__section {
		position: absolute;
		@include flex__container;
		flex-direction: column;
		gap: 3rem;
		justify-content: center;
		padding: 5rem 1rem 3rem;
		height: 100vh;
		width: 100vw;

		transform: scale(0);
		width: 100%;
		z-index: 11000;
		background-color: white;
		transform-origin: 50% 50%;

		@include transition_ease;

		a {
			color: $text_color_dark;

			&:hover {
				text-decoration: underline;
			}
		}

		@include breakpoint {
			@include flex__container($direction: column, $justify: center);
			text-align: center;
		}
	}

	.open {
		@include breakpoint {
			position: fixed;
			justify-content: flex-start;
			transform: scale(1);
			padding: 10rem;
			transform-origin: 50% 50%;
			background-color: white;
			@include transition_ease;
		}
	}
}
