.main__navbar {
  overflow-y: hidden;
  border-bottom: 1px solid lightgray;
}

.main__navbar .my__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0.5rem 7rem;
}

@media (max-width: 800px) {
  .main__navbar .my__navbar {
    padding: 0.5rem 2rem;
  }
}

.main__navbar .my__navbar .nav__header .b__logo {
  position: relative;
  width: 50px;
  height: 40px;
  z-index: 200;
}

.main__navbar .my__navbar .nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 2rem;
  font-size: 1.1rem;
}

.main__navbar .my__navbar .nav__links .logged__user {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main__navbar .my__navbar .nav__links .nav__link {
  color: #303030;
}

@media (max-width: 800px) {
  .main__navbar .my__navbar .nav__links .nav__link {
    display: none;
  }
}

.main__navbar .my__navbar .nav__links .close {
  position: absolute;
  visibility: hidden;
  right: 1rem;
}

.main__navbar .my__navbar .nav__links .hoverbox {
  position: absolute;
  top: 4rem;
  right: 3rem;
  visibility: visible;
  z-index: 10001;
}

@media (max-width: 800px) {
  .main__navbar .my__navbar .nav__links .hoverbox {
    right: 5.5rem;
  }
}

.main__navbar .my__navbar .nav__links .signin {
  padding: 12px 20px;
  font-size: 1rem;
  color: #008ae6;
  font-family: "Open Sans", sans-serif;
  border: 1px solid #008ae6;
  border-radius: 2rem;
  background-color: #ffff;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.main__navbar .my__navbar .nav__links .burger {
  display: none;
  font-size: 1.8rem;
  z-index: 1001;
}

@media (max-width: 800px) {
  .main__navbar .my__navbar .nav__links .burger {
    display: block;
  }
}

.main__navbar .my__navbar .nav__links .new__post {
  padding: 10px;
  background-color: #457b9d;
  border-radius: 5px;
  border: none;
  color: white;
  display: block;
  z-index: 10001;
  margin-right: 0;
  position: relative;
}

.main__navbar .my__navbar .nav__links .new__post:hover {
  background-color: #4c88ae;
}

@media (max-width: 800px) {
  .main__navbar .my__navbar .nav__links .new__post {
    padding: 8px 10px;
  }
}

.main__navbar .my__navbar .account__icon {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: relative;
  z-index: 101;
  -o-object-fit: cover;
     object-fit: cover;
}

.main__navbar .responsive__section {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  flex-direction: column;
  gap: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5rem 1rem 3rem;
  height: 100vh;
  width: 100vw;
  -webkit-transform: scale(0);
          transform: scale(0);
  width: 100%;
  z-index: 11000;
  background-color: white;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.main__navbar .responsive__section a {
  color: #303030;
}

.main__navbar .responsive__section a:hover {
  text-decoration: underline;
}

@media (max-width: 800px) {
  .main__navbar .responsive__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 800px) {
  .main__navbar .open {
    position: fixed;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-transform: scale(1);
            transform: scale(1);
    padding: 10rem;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    background-color: white;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
}
/*# sourceMappingURL=styles.css.map */