.post__body {
  padding: 4rem 0 0;
}

.post__body .post__body__container {
  width: 46rem;
  margin: auto;
}

@media (max-width: 768px) {
  .post__body .post__body__container {
    padding: 0 2rem;
    max-width: 100%;
  }
}

@media (max-width: 400px) {
  .post__body .post__body__container {
    padding: 0 1rem;
  }
}

.post__body .post__body__container .post__body__header .post__body__title {
  font-size: 2.4rem;
  color: #303030;
  font-weight: 500;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .post__body .post__body__container .post__body__header .post__body__title {
    font-size: 2rem;
  }
}

@media (max-width: 576px) {
  .post__body .post__body__container .post__body__header .post__body__title {
    font-size: 1.8rem;
  }
}

@media (max-width: 400px) {
  .post__body .post__body__container .post__body__header .post__body__title {
    font-size: 1.5rem;
  }
}

.post__body .post__body__container .post__body__header .post__body__subtitle {
  color: gray;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  font-weight: lighter;
}

@media (max-width: 768px) {
  .post__body .post__body__container .post__body__header .post__body__subtitle {
    font-size: 1rem;
  }
}

.post__body .post__body__container .post__body__header .post__body__tags {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.post__body .post__body__container .post__body__header .post__body__tags .post__body__author__part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.post__body .post__body__container .post__body__header .post__body__tags .post__body__author__part .author__name {
  text-decoration: none;
  font-weight: lighter;
  color: #48af8d;
  margin: auto 0.5rem;
  font-size: 1rem;
}

.post__body .post__body__container .post__body__header .post__body__tags .post__body__author__part p {
  color: gray;
  font-size: 0.8rem;
  margin: auto 0.3rem;
}

@media (max-width: 576px) {
  .post__body .post__body__container .post__body__header .post__body__tags .post__body__author__part .post_date,
  .post__body .post__body__container .post__body__header .post__body__tags .post__body__author__part .post_length,
  .post__body .post__body__container .post__body__header .post__body__tags .post__body__author__part .interpunct {
    display: none;
  }
}

.post__body .post__body__container .post__body__header .post__body__tags .post__body__author__part #bookmark {
  margin-top: 0.5rem;
}

.post__body .post__body__container .post__body__header .post__body__tags .post__header__share .social__icons {
  width: 37px;
  height: 37px;
  margin: 0.2rem;
  padding: 5px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.post__body .post__body__container .post__body__header .post__body__tags .post__header__share .social__icons:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media (max-width: 576px) {
  .post__body .post__body__container .post__body__header .post__body__tags .post__header__share .social__icons {
    width: 30px;
    height: 30px;
    padding: 2px;
  }
}

@media (max-width: 375px) {
  .post__body .post__body__container .post__body__header .post__body__tags .post__header__share .social__icons {
    width: 25px;
    height: 25px;
    padding: 2px;
  }
}

.post__body .post__body__container .post__body__header .post__body__tags .post__header__share .link {
  width: 35px;
  height: 35px;
}

@media (max-width: 576px) {
  .post__body .post__body__container .post__body__header .post__body__tags .post__header__share .link {
    width: 28px;
    height: 28px;
    padding: 2px;
  }
}

@media (max-width: 375px) {
  .post__body .post__body__container .post__body__header .post__body__tags .post__header__share .link {
    width: 22px;
    height: 22px;
    padding: 2px;
  }
}

.post__body .post__body__container .post__body__body img {
  height: auto;
  width: 100%;
  margin: 0rem auto;
}

.post__body .post__body__container .post__body__body div.temp {
  display: none;
  position: relative;
}

.post__body .post__body__container .post__body__body .visible_ {
  visibility: visible;
}

@media (max-width: 1200px) {
  .post__body .post__body__container .post__body__body .visible_ {
    visibility: hidden;
  }
}

.post__body .post__body__container .post__body__body .notVisible {
  visibility: hidden;
}

.post__body .post__body__container .post__body__body .post__body__toolbox__inner {
  width: 15rem;
  position: absolute;
  left: -17rem;
}

@media (max-width: 1300px) {
  .post__body .post__body__container .post__body__body .post__body__toolbox__inner {
    margin-left: 2rem;
  }
}

.post__body .post__body__container .post__body__body .post__body__toolbox__inner .post__body__toolbox__icons {
  margin: 1.5rem 1.5rem 0;
  cursor: pointer;
  color: gray;
}

.post__body .post__body__container .post__body__body .post__body__toolbox__inner .post__body__toolbox__icons:hover {
  color: black;
}

.post__body .post__body__container .post__body__body .post__body__toolbox__inner .like__comment__count {
  margin: 0 1.7rem;
  cursor: pointer;
  color: gray;
}

.post__body .post__body__container .post__body__body .post__body__content {
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 300;
  color: #303030;
}

@media (max-width: 768px) {
  .post__body .post__body__container .post__body__body .post__body__content {
    font-size: 1rem;
  }
}

.post__body .post__body__container .post__body__body .post__body__content ul {
  margin-left: 1.2rem;
}

.post__body .post__body__container .post__body__body .post__body__content blockquote {
  border-left: 2px solid gray;
  padding-left: 0.5rem;
}

.post__body .post__body__container .post__body__body .post__body__categ__btn {
  margin: 0 10px 0 0;
  padding: 10px 12px;
  border: none;
  border-radius: 5px;
  color: gray;
  cursor: pointer;
  font-weight: light;
}

@media (max-width: 576px) {
  .post__body .post__body__container .post__body__body .post__body__categ__btn {
    padding: 8px 10px;
    font-size: 80%;
    margin-right: 10px;
  }
}

@media (max-width: 375px) {
  .post__body .post__body__container .post__body__body .post__body__categ__btn {
    padding: 6px 8px;
    font-size: 70%;
    margin-right: 8px;
  }
}

.post__body .post__body__container .post__body__body .post__body__categ__btn:hover {
  background-color: #dadada;
}

.post__body .post__body__container .post__body__body .post__body__final {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin-top: 2rem;
}

@media (max-width: 576px) {
  .post__body .post__body__container .post__body__body .post__body__final {
    margin-top: 0;
  }
}

.post__body .post__body__container .post__body__body .post__body__final .final__share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.post__body .post__body__container .post__body__body .post__body__final .final__share .social__icons {
  width: 40px;
  height: 40px;
  cursor: pointer;
  padding: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.post__body .post__body__container .post__body__body .post__body__final .final__share .social__icons:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media (max-width: 576px) {
  .post__body .post__body__container .post__body__body .post__body__final .final__share .social__icons {
    width: 30px;
    height: 30px;
    padding: 2px;
  }
}

@media (max-width: 375px) {
  .post__body .post__body__container .post__body__body .post__body__final .final__share .social__icons {
    width: 25px;
    height: 25px;
    padding: 2px;
  }
}

.post__body .post__body__container .post__body__body .post__body__final .final__share .link {
  width: 35px;
  height: 35px;
}

@media (max-width: 576px) {
  .post__body .post__body__container .post__body__body .post__body__final .final__share .link {
    width: 28px;
    height: 28px;
    padding: 2px;
  }
}

@media (max-width: 375px) {
  .post__body .post__body__container .post__body__body .post__body__final .final__share .link {
    width: 22px;
    height: 22px;
    padding: 2px;
  }
}

.post__body .post__body__container .post__body__body .post__body__final .post__body__toolbox__icons {
  margin-left: 0;
}

.post__body .post__body__container .post__body__body .post__body__final__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 0.5rem;
}

.post__body .post__body__container .post__body__body .post__body__final__profile .profile__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.post__body .post__body__container .post__body__body .post__body__final__profile .profile__inner #final__profilePic {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 1rem;
}

@media (max-width: 700px) {
  .post__body .post__body__container .post__body__body .post__body__final__profile .profile__inner #final__profilePic {
    width: 52px;
    height: 52px;
  }
}

.post__body .post__body__container .post__body__body .post__body__final__profile .profile__inner .final-profile-name,
.post__body .post__body__container .post__body__body .post__body__final__profile .profile__inner .final-profile-bio,
.post__body .post__body__container .post__body__body .post__body__final__profile .profile__inner .writtenBy {
  margin: 0;
  position: static;
}

.post__body .post__body__container .post__body__body .post__body__final__profile .profile__inner .writtenBy,
.post__body .post__body__container .post__body__body .post__body__final__profile .profile__inner .final-profile-bio {
  color: gray;
}

@media (max-width: 700px) {
  .post__body .post__body__container .post__body__body .post__body__final__profile .profile__inner .writtenBy,
  .post__body .post__body__container .post__body__body .post__body__final__profile .profile__inner .final-profile-bio {
    font-size: 0.8rem;
  }
}

@media (max-width: 700px) {
  .post__body .post__body__container .post__body__body .post__body__final__profile .profile__inner .final-profile-name {
    font-size: 1.1rem;
  }
}

@media (max-width: 400px) {
  .post__body .post__body__container .post__body__body .post__body__final__profile .profile__inner .final-profile-bio {
    position: absolute;
    visibility: hidden;
  }
}

.post__body .post__body__container .post__body__body .post__body__final__profile .profile__inner a {
  text-decoration: none;
  color: #303030;
}

.post__body .post__body__container .post__body__body .post__body__final__profile .extra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.post__body .post__body__container .post__body__body .post__body__final__profile .extra .nav__follow__btn {
  padding: 10px 15px;
  background-color: #25658d;
  border: none;
  color: white;
  border-radius: 2rem;
  margin-right: 1rem;
  cursor: pointer;
}

.post__body .post__body__container .post__body__body .post__body__final__profile .extra .nav__follow__btn:hover {
  background-color: #1e5171;
}

.post__body .post__body__container .post__body__body .post__body__final__profile .extra #email__icon {
  width: 25px;
  height: 20px;
}

@media (max-width: 400px) {
  .postBody-container {
    padding: 0 1rem;
  }
}
/*# sourceMappingURL=post.css.map */