@import "../components/variables.scss";

$breakpoint_lg: 1200px;
$breakpoint_lg2: 1160px;
$breakpoint_md: 975px;
$breakpoint_md2: 800px;
$breakpoint_sm: 680px;
$breakpoint_xsm: 500px;

@mixin media_lg {
	@media (max-width: $breakpoint_lg) {
		@content;
	}
}

@mixin media_lg2 {
	@media (max-width: $breakpoint_lg2) {
		@content;
	}
}

@mixin media_md {
	@media (max-width: $breakpoint_md) {
		@content;
	}
}

@mixin media_md2 {
	@media (max-width: $breakpoint_md2) {
		@content;
	}
}

@mixin media_sm {
	@media (max-width: $breakpoint_sm) {
		@content;
	}
}

@mixin media_xsm {
	@media (max-width: $breakpoint_xsm) {
		@content;
	}
}
